h1{
    color: #1d1d1d ;
    background-color: #d4818a;
    text-align: center;
    font-size: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    
}
p{
    color: #280303;
    text-align: center;
}
body {
    background-color: #fef2f2;
    
}
p {
    text-align: center;
    
}
div{
    text-align: center;
}
#one{
    font-size: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
#social{
    background-color: #c03dc4;
} 